.paneprincipal{
    -fx-background-color: linear-gradient(to top, rgb(255, 241, 230), rgb(255, 255, 255));
    /*-fx-background-color: #213391;
        -fx-background-color: linear-gradient(to top, rgb(146, 5, 16), rgb(33, 51, 145));
*/

}


.listview{

}


.list-cell:filled:selected:focused, .list-cell:filled:selected{
    /*-fx-background-color: linear-gradient(to top, rgb(255, 255, 255), rgb(255, 255, 255));*/
    -fx-alignment: center;
    -fx-cursor: hand;
    /*-fx-cell-size: 36 ;
   -fx-font-size: 20px;
   -fx-font-weight: bold;
   -fx-alignment: center ;*/
}


.list-cell:odd, .list-cell:even {
   -fx-background-color: #f5f5f5;

}

.list-view, .split-pane { -fx-background-insets: 0; -fx-padding: 0; }

